.search {
  position: sticky;
  top: 0;
}

.container {
  padding: 2rem;
}

.episode-list {
  margin: 0;
  padding: 1rem 0;
}

.episode-container {
  display: flex;
  column-gap: 1rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.placeholder-thumbnail {
  height: 112px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
}

.thumbnail {
  width: 200px;
  height: 112px;
}

.media {
  align-self: center;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem 0 auto;
}

.footer {
  position: sticky;
  display: flex;
  height: 3rem;
  bottom: 0;
  background-color: darkgrey;
  padding: 1rem;
}

.play-pause {
  height: 2.5rem;
  width: 2.5rem;
}

.media-s {
  display: flex;
  flex-direction: column;
}

.media-info {
  display: flex;
  flex-direction: column;
}